*.pyc
*.sw*
.DS_Store
.sass-cache
*.sqlite3
Lib
Include
coverage-report/coverage.xml
coverage-report/coverage.info
coverage-report/test-output.txt
coverage-report/junit.xml

ripples.css
bootstrap-material-design.css
bootstrap.css
css.css
app.js
app.min.js

node_modules
*~*
*.map
*.pid
*.log
.module-cache
**/dev_settings/*.py
!**/dev_settings/__init__.py
.vagrant
.vscode/*.json
.storybook/config.js
.storybook/webpack.config.js
stories/drform.jsx
stories/index.js
web/db
bin/
obj/
web/nuke_db.sh
**/dotnet/docx-writer/BaseDoc.docx
**/dotnet/docx-writer/generated_documents/*

static/js/0.app.js

databases.py

env/
package-lock.json
web/tests/.coverage
web/tests/test_coverage
.noseids
dTrax/man/man1/nosetests.1
dTrax/pip-selfcheck.json
dTrax/.Python

web/core_resources
*.idea
web/tests/coverage.xml
web/tests/nosetests.xml
*.mypy_cache
*venv
*.tmp
*nosetests.xml
*.coverage 
web/.vscode/settings.json
web/test_coverage

web/.env

test_coverage/
source/
web/tests/Signed_Doc2.pdf
.env_local
*.xlsx
